<a href="https://colab.research.google.com/github/Vinayak-ag03/CMOS_VLSI_Design/blob/main/MLP_PA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Google Drive


*   This will prompt you to authorize access.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
file_path = '/content/drive/MyDrive/mlp_datasets/Preprocessing1.csv'
df = pd.read_csv(file_path)

In [5]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
       'WeekDay', 'Day'],
      dtype='object')

# Q1 Find avg of price

In [7]:
# Try converting to numeric, errors will become NaN
df['price_clean'] = pd.to_numeric(df['Price'], errors='coerce')

In [8]:
df['price_clean'].isnull().sum()

np.int64(0)

In [9]:
df['price_clean'].mean()

np.float64(9027.895555555555)

# Question: 2 During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth.

In [11]:
df['Month'].value_counts()

Month
5    3092
6    3044
3    2388
4     926
Name: count, dtype: int64

# Q3 Is the average price of flight tickets higher on weekends (Saturday and Sunday) or on weekdays (Remaining 5 days)?

In [13]:
df['day_type'] = df['WeekDay'].apply(lambda x: 'weekend' if x in ['Saturday', 'Sunday'] else 'weekday')

In [14]:
df.groupby('day_type')['price_clean'].mean()

day_type
weekday    9015.219666
weekend    9058.016077
Name: price_clean, dtype: float64

# Q4 Two of the entries in the 'Additional_Info' column are 'No info' and 'No Info'. Replace all occurrences of 'No Info' with 'No info'. How many flights fall under airline 'IndiGo' and have 'No info' as additional information?

In [15]:
df['Additional_Info']=df['Additional_Info'].replace('No Info','No info')

In [16]:
indigo_no_info=df[(df['Airline']=='IndiGo') & (df['Additional_Info']=='No info')]

In [17]:
count = indigo_no_info.shape[0]
print(f"Number of flights: {count}")

Number of flights: 1650

# Q5 Convert the values of 'Duration' into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.

In [21]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day,price_clean,day_type
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20:00,04:25 10 Jun,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0,14924,weekday
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 10 Jun,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0,10577,weekend
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,No info,5678,3,Friday,15.0,5678,weekday
3,Multiple carriers,Delhi,Banglore,DEL → BOM → COK,18:55,01:30 16 Jun,15h 10m,1 stop,In-flight meal not included,7408,5,Monday,6.0,7408,weekday
4,Air India,Delhi,Cochin,DEL → COK,17:10,17:55,8h 20m,non-stop,No info,6724,6,Monday,24.0,6724,weekday

In [22]:
import re

def duration_to_seconds(duration):
    # Initialize hours and minutes
    hours = 0
    minutes = 0

    # Find hours (e.g., '2h')
    h_match = re.search(r'(\d+)h', duration)
    if h_match:
        hours = int(h_match.group(1))

    # Find minutes (e.g., '30m')
    m_match = re.search(r'(\d+)m', duration)
    if m_match:
        minutes = int(m_match.group(1))

    # Calculate total seconds
    total_seconds = hours * 3600 + minutes * 60
    return total_seconds

# Doubt: if the argument name inside the duration_to_seconds function should be capitalized to match your column name Duration.

Quick answer:

No, the argument name inside the function can be anything — it does NOT have to match the column name.

Pandas passes each value from the 'Duration' column (a string like '2h 30m') as the argument to the function.

duration is just a variable name for each value being passed.

It can be named anything — duration, x, val, etc.

The name is local to the function and doesn’t have to match the DataFrame column name.

The argument name in your function is independent of the DataFrame column name.

Just make sure you use the argument name consistently inside the function.

In [25]:
df['Duration_seconds'] = df['Duration'].apply(duration_to_seconds)

In [24]:
average_duration = df['Duration_seconds'].mean()
average_duration_rounded = round(average_duration, 2)
print(average_duration_rounded)

38957.94

Apply the following functions to the columns Dep_Time and Arrival_Time:

Transform the values in the 'dep_time' and 'arrival_time' columns to represent the hour component. For instance, if an entry is 10:05 June 13 or 10:05, the corresponding value should be 10.
Then convert the time into four categories as follows:
5 <= hour < 12 = Morning
12 <= hour < 17 = Afternoon
17 <= hour < 20 = Evening
20 <= hour < 5 = Night

Note: Please ensure that you make the changes directly within the dataset and continue to use that modified dataset for subsequent questions.

In [26]:
# Step 1: Convert 'Dep_Time' and 'Arrival_Time' to datetime (if not already)
df['Dep_Time'] = pd.to_datetime(df['Dep_Time'], errors='coerce').dt.hour
df['Arrival_Time'] = pd.to_datetime(df['Arrival_Time'], errors='coerce').dt.hour

/tmp/ipython-input-3521103385.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_Time'] = pd.to_datetime(df['Dep_Time'], errors='coerce').dt.hour
/tmp/ipython-input-3521103385.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival_Time'] = pd.to_datetime(df['Arrival_Time'], errors='coerce').dt.hour

In [27]:
def map_time_of_day(hour):
    if pd.isnull(hour):
        return 'Unknown'  # Optional: handle missing data
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 20:
        return 'Evening'
    else:
        return 'Night'

In [29]:
df['Dep_Time_Category'] = df['Dep_Time'].apply(map_time_of_day)
df['Arrival_Time_Category'] = df['Arrival_Time'].apply(map_time_of_day)
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day,price_clean,day_type,Duration_seconds,Dep_Time_Category,Arrival_Time_Category
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20,4,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0,14924,weekday,95700,Night,Night
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16,19,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0,10577,weekend,97200,Afternoon,Evening
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19,21,1h 30m,non-stop,No info,5678,3,Friday,15.0,5678,weekday,5400,Evening,Night
3,Multiple carriers,Delhi,Banglore,DEL → BOM → COK,18,1,15h 10m,1 stop,In-flight meal not included,7408,5,Monday,6.0,7408,weekday,54600,Evening,Night
4,Air India,Delhi,Cochin,DEL → COK,17,17,8h 20m,non-stop,No info,6724,6,Monday,24.0,6724,weekday,30000,Evening,Evening


# Q6 How many flights started in the Morning and arrived the destination at Evening?

In [30]:
condition = (df['Dep_Time_Category'] == 'Morning') & (df['Arrival_Time_Category'] == 'Evening')
count = df[condition].shape[0]
print(count)

922


# Q7 Encode the values of column 'WeekDay' as follows:
Weekends (Sunday, Saturday) = 1
all remaining five days = 0
What is the most frequent (mode) WeekDay?

Weekends

Weekdays

In [31]:
df['WeekDay_Encoded'] = df['WeekDay'].apply(lambda x: 1 if x in ['Saturday', 'Sunday'] else 0)

In [32]:
most_frequent_day = df['WeekDay'].mode()[0]
print(most_frequent_day)

Wednesday